h1 {
	text-align: center;
	background-color: #efefef;
	font-size: 36px;
}

nav{
	align-items: center;
	border: 10px 10px 10px 10px;
	text-align: center;
	background-color: #eeeeee;
}
nav a{
	color:#333;
}
nav a:link{
	color: #888;
}
nav a:visited{
	color: #888;
}
nav a:hover{
	color: orange;
}
nav a:active{
	color: red;
}

.slider img{
	--basesize: 30px;
	width: 320px;
	height: 200px;
}
.box{
	width: 320px;
	height: 120px;
	background-color: #aaaaaa;
}

article {
	font-style: normal;
	text-align: center;
	background-color: #eeeeee;
}

.music-player{
	background-color: aliceblue;
	flex-direction: row;
	text-align: center;
}
.music-player .box1{
	height: 54px;
	width: 600px;
	/* text-align: center; */
	background-color: aqua;
	border-radius: 0px 8px 8px 0px;
	line-height: 3.375;
}
.music-player .box2{
	height: 54px;
	width: 600px;
	/* text-align: center; */
	border-radius: 0px 27px 27px 0px;
	background-color: rgb(128, 116, 240)
}

.feature-container{
	background-color: #eeeeee;
	text-align: center;
}
.feature-container .feature-title{
	background-color: #999999;
	height: 50px;
	font-size: 24px;
	margin: 20px 0px;
}

.feature-banner{
	height: 800px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #999999;
}
.feature{
	background-color: #cccccc;
	margin: 10px;
	padding: 5px;
	width: 25%;
}
.feature *{
	background-color: #aaa;
}
.feature img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.feature h6{
	margin: 12px 0px;
	height: 40px;
	font-size: 24px;
	font-weight: bold;
}
.feature p{
	margin: 12px 0% 24px;
	height: 128px;
	font-size: 16px;
	
}
.feature #1 p::after{
	content: "你好";
 	
}


.Tip {
	align-items: center;
	/* margin: 0px 2px 2px 0px; */
}
.Tip button{
	width: 108px;
	height: 36px;
}
