* {
	color: #333;
	margin: 0px;
	padding: 0px;
}

a {
	color: #333;
	text-decoration: none;
}

a:link {
	color: #888;
}

a:visited {
	color: #888;
}

a:hover {
	color: orange;
	text-decoration: underline;
}

a:active {
	color: red;
}

.highlight {
	background-color: red;
}